{% extends "indexBase (2).html" %}

<!--Head Title-->
{% block title %}Cultivo: Simulaci&oacute;n de Cultivo y Cosecha de Ca&ntilde;a de Az&uacute;car{% endblock %}

{% block main %}
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <div class="4u 12u(narrower)">
                <div id="sidebar">
                    
                    <!-- Sidebar -->
                    <section>
                        <span class="image featured"><img src="images/banner.jpg" alt="" /></span>
                        {% block sidebar %} 
                        <p>No funciona</p>
                        {% endblock %} 
                    </section>
                </div>
            </div>
            <div class="8u  12u(narrower) important(narrower)">
                <div id="content">
                    <!-- Content -->
                    <article>
                        {% block simulacion %}
                        {% endblock %}
                    </article>   
                </div>
            </div>
        </div>
    </div>
</section>

{% block ward %}

{% endblock %}

{% endblock %}


