{% extends "cultivoBase (2).html" %}

{% block sidebar %}
    
    <ul>
        <li><b>Valores de Simulaci&oacute;n</b> </li>
        <li> <!--Sliders-->
            <i>Fecha de siembra </i>
            <input type="date" title="Fecha en la que se sembro" name="fechaDeSiembra" value="2018-10-08"/>
            <div class="slidecontainer"><i>Días de emergencia</i>
                <input type="range" name="fechaDeEmergencia" min="3" max="16" value="7" class="slider" id="myRange" title="Fecha en la que se espera que emerjan los brotes">
            </div>
            <i>Yemas </i>
            <div class="slidecontainer">
                <input type="range" min="1" max="14" value="5" class="slider" id="myRange1">
            </div>
            <i>Profundidad de siembra (mm)</i>
            <div class="slidecontainer">
                <input type="range" name="profundidadDeSiembra" min="5" max="200" value="65" class="slider" id="myRange2">
            </div>
            
            <i>N&uacute;mero de uso recurrente del suelo</i>
            <div class="slidecontainer">
                <input type="range" name="usoRecurente" min="1" max="4" value="1" class="slider" id="myRange3">
            </div>
            <label id="demo" title="Valor del deslizador"></label>
            
            
        </li>
    </ul> 
    <footer>
        <div id="mySidenavLeft" class="sidenav">
            
            <!-- factores -->
            <button type= "submit" id="myBtn" class="button"><b>Factores</b></button>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Factores externos controlados</h2>
                    </div>
                    <div class="modal-body">
                        
                        <table border="0">
                            <tbody>
                                <tr>
                                    <td><i>Suelo </i>
                                        <select name="Suelo">
                                            <option>1111111</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>↓</option>
                                            <option>+</option>
                                        </select><br>
                                        <i>Manejo del suelo </i>
                                        <select name="manejoDeSuelo">
                                            <option>111111111111</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>↓</option>
                                            <option>+</option>
                                        </select><br>
                                        <i>Terreno con maleza</i>
                                        <input type="checkbox" name="tieneMalezas" value="ON" checked="checked" />
                                    </td>
                                    <td><b>Densidad Cañera </b><br>
                                        <i>Material Genético </i>
                                        <select name="materialGenetico">
                                            <option>1</option>
                                            <option>2</option>
                                        </select><br>
                                        <i>Calidad </i>
                                        <select name="calidad">
                                            <option>★</option>
                                            <option>★★</option>
                                            <option>★★★</option>
                                            <option>★★★★</option>
                                            <option>★★★★★</option>
                                        </select><br>
                                        <i>Siembra </i>
                                        <select name="siembra">
                                            <option>★</option>
                                            <option>★★</option>
                                            <option>★★★</option>
                                            <option>★★★★</option>
                                            <option>★★★★★</option>
                                        </select></td>
                                    <td>
                                        <i>Clima </i>
                                        <select name="clima">
                                            <option>12222</option>
                                            <option>2</option>
                                            <option>↓</option>
                                            <option>+</option>
                                        </select><br><br>
                                        <i>Plagas <br>y enfermedades <br>de la planta </i>
                                        <select name="plagasYEnFermedadDeLaPlanta">
                                            <option>13333333333</option>
                                            <option>2</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>↓</option>
                                            <option>+</option>
                                        </select><br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="modal-footer">
                        <p>*Estos valores no cambian durante la simulacion <button class="button">Continuar</button></p>
                    </div>
                </div>
            </div>
            
            <!-- Modal content -->
            <!-- Resultados Tabulados -->
            <button id="myBtn1" class="button">Resultados Tabulados</button>
            
            <!-- The Modal -->
            <div id="myModal1" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Caracteristicas del Cultivo</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Valores Promedio</h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Variable</b></td>
                                    <td><b>Emergente</b></td>
                                    <td><b>Crecimiento Inicio</b></td>
                                    <td><b>Crecimiento Final</b></td>
                                    <td><b>Cosecha</b></td>
                                </tr>
                                <tr>
                                    
                                    <td><b>Verdor</b></td>
                                    <td>★★★</td>
                                    <td>★★★★★</td>
                                    <td>★★★</td>
                                    <td>★★</td>
                                </tr>
                                <tr>
                                    <td><b>Densidad</b></td>
                                    <td>★★★★★</td>
                                    <td>★★★★</td>
                                    <td>★★★</td>
                                    <td>★★</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" name="nombreSimulacion" placeholder="Nombre de la simulacion" />
                                    </td>
                                    <td>
                                        <input type="date" title="Fecha de simulacion" style="left:inherit" name="fechaDeSiembra" value="2018-10-08"/></td>
                                    <td>
                                        <input type="submit"  class="button" value="Guardar La Actual Simulaci&oacute;n" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <a href="analisis.html#nav" >
                <button id="analisis" class="button">
                    Mostrar el an&aacute;lisis</button></a></div>
    </footer>
    {% endblock %}
        


